.easy-use-div {
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.075);
  margin-top: 70px;
}

.date-field-popup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.guests-inputs {
  width: max-content;
}

.guests-inputs,
.inputs-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

@media screen and (max-width: 1050px) {
  .start-date,
  .end-date,
  .display-results {
    width: -webkit-fill-available;
  }

  .guests-inputs {
    width: -webkit-fill-available;
  }
}
