.bg {
  font-family: "Segoe UI";
  font-weight: lighter;
  padding: 50px;
  background-image: linear-gradient(to right, #000101, #004145);
}

h2 {
  margin: auto;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 100px 0 25px 0;
}
