.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background: #03676e !important;
}

.img-fluid {
  height: 280px !important;
}

.slick-prev {
  left: -3% !important;
  z-index: 1;
}
.slick-next {
  right: -3% !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #1e3d3e !important;
  z-index: 1;
}
