.card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  height: auto;
  /* float: left; */
}

.img-card {
  width: 450px;
  margin: 10px;
}

.img-card .title {
  width: 450px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  margin: 1px;
  padding: 10px 0 0 20px;
}

.img-card .title h3 {
  color: aliceblue;
}

@media screen and (max-width: 475px) {
  .img-card {
    width: 333px;
    margin: 10px;
  }

  .img-card .title {
    width: 326px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    margin: 1px;
    padding: 10px 0 0 20px;
  }

  .img-location {
    width: 333px;
    height: auto;
  }
}
