.container-custom {
  /* min-height: 100vh; */
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.card-list-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  height: auto;
  /* float: left; */
}
p {
  margin: 0px;
}

.card-custom {
  width: 400px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden;
  margin: 15px;
}

.card-custom .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%;
}

.card-custom:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-custom:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #03676e;
  animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
  0% {
    height: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  50% {
    height: 80px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
  }

  75% {
    height: 160px;
    border-top-left-radius: 85%;
    border-top-right-radius: 85%;
  }

  100% {
    height: 320px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
}

.card-custom .pic {
  position: relative;
}

.card-custom .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-custom .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 70px;
  background-color: #03676e;
  color: white;
  position: absolute;
  bottom: 0px;
  transition: all ease;
}

.card-custom .date .day {
  font-size: 14px;
  font-weight: 600;
}

.card-custom .date .month,
.card-custom .date .year {
  font-size: 10px;
}

.card-custom .text-muted {
  font-size: 13px;
}

.card-custom:hover .text-muted {
  color: #fff !important;
}

.card-custom .content {
  padding: 0 20px;
}

.card-custom .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #03676efd !important;
  border-radius: 25px;
  font-size: 12px;
  border: none;
}

.card-custom:hover .content .btn {
  background: #fff !important;
  color: #03676e !important;
  box-shadow: #0000001a 0px 3px 5px;
}

.card-custom .content .btn .fas {
  font-size: 10px;
  padding-left: 5px;
}

.card-custom .content .foot .admin {
  color: #03676e;
  font-size: 12px;
}

.card-custom:hover .content .foot .admin {
  color: #fff;
}
.card-custom:hover .content .nav-to-place-bottom {
  color: #fff;
}

.nav-to-place-bottom {
  color: black;
  text-decoration: none;
}

.nav-to-place-bottom:hover {
  color: white;
}

.card-custom .content .foot .icon {
  font-size: 12px;
}

@media screen and (max-width: 475px) {
  .card-custom {
    width: 349px;
    margin: 10px;
  }

  .img-location-2 {
    width: 357px;
    height: auto;
  }
}
