.container-bottom {
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
  padding: 0px 0px 0px 0px !important;
}

.filter-part {
  padding: 0px;
  height: auto;
}

.filter-result-part {
  padding-right: 0px;
}

.filter-part {
  /* background-color: #004145; */
}

.filter-heading {
  background-color: #004145;
  color: white;
  /* text-align: center; */
  margin: 0px !important;
  padding: 20px 18px 16px 18px;
  border-radius: 4px;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 100px !important;
}
.filter-result-heading {
  background-color: white;
  margin: 0px !important;
  padding: 20px 18px 16px 18px;
  color: black;
  /* text-align: center; */
}

#filter-heading {
  font-weight: 400;
}
#filter-result-heading {
  font-weight: 900;
}

.btn-clear-filter {
  margin: auto;
  border-radius: 25px;

  background-color: #004145 !important;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-top: 6px;
  display: flex;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
  /* width: 120px; */
}

.btn-clear-filter:hover {
  margin: auto;
  border-radius: 25px;
  background-color: white !important;
  border: 0px solid black;
  color: #000;
  font-weight: 500;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 8px;
  padding-top: 6px;
  display: flex;

  /* width: 120px; */
}

@media screen and (max-width: 700px) {
  .filter-result-part {
    padding-right: 20px;
  }
}
