.main-body {
    margin-left: 10%;
    margin-right: 10%;
}

.acc-title {
    font-size: 32px;
    margin-top: 20px;
}

.acc-sub-title {
    font-size: 20px;
}

.details-title {
    font-size: 16px;
    margin-bottom: 0;
}

.update-details-para {
    color: #6b6b6b;
    font-size: 14px;
    margin-bottom: 0;
}

.updated-details-para {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

.acc-set-hr {
    width: 100%;
}

.image-acc-pic {
    width: 40px;
    height: 40px;
    float: right;
}

.span-edit {
    float: right;
    color: #0071c2;
    text-decoration: none;
}
.link-secure{
    text-decoration: none;
}
