.searchBox-with-suggestions {
  /* margin: auto 20% auto 20%; */
  margin: auto;
}

.search-input-css {
  border-radius: 50px 0px 0px 50px !important;
  border: 1px solid #03676e !important;
}

.search-btn-css {
  border-radius: 0px 50px 50px 0px !important;
  border: 1px solid #03676e !important;
}

::placeholder {
  color: #004145 !important;
  opacity: 0.8 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #004145 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #004145 !important;
}

.search-bar-custom {
  z-index: 1;
}

.fa-search:hover,
#search-addon:hover {
  cursor: pointer;
}

.suggestion-box {
  /* margin-left: 25px; */
  position: absolute;
  z-index: 1;
  padding-right: 16px !important;

  border-radius: 50px;
}

.suggestion-item {
  border-radius: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d3d4d663;
  cursor: pointer;
  border-bottom: #00424588 solid 1px;
  transition-duration: 0.5s;
}

.suggestion-item:hover {
  padding-left: 25px;
  cursor: pointer;
  border-bottom: #004145 solid 1px;
  background-color: #03676e;
  transform: scale(1.005);
  color: white;
}

.anyClass {
  height: auto;
  max-height: 210px;
  border-radius: 0px;
  overflow-y: scroll;
}

.anyClass::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.anyClass::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.anyClass::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.anyClass::-webkit-scrollbar-thumb:hover {
  background: #555;
}
